@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<Form>
    <BoundInputs>
        <InputText @bind-Value="Name" MaxLength="10" Id="Name" OnValidate="HandleValidateName"/>
        <InputNumber @bind-Value="Age" Max="max" Id="Age" OnValidate="HandleValidateAge"  />
    </BoundInputs>
    <InputText @bind-Value="Email" Required="true" Id="Email"/>
</Form>

@code
{
    private int max => Name?.Length ?? 10;

    public string? Name { get; set; } = "Connor";

    public int? Age { get; set; }

    public string? Email { get; set; }

    private CustomValidationState HandleValidateName()
    {
        if (Name == "Jim")
        {
            return new CustomValidationState(false, "jim is not allowed");
        }

        return new CustomValidationState(true);
    }

    private CustomValidationState HandleValidateAge()
    {
        if (Age == 6)
        {
            return new CustomValidationState(false, "cant be 6");
        }

        return new CustomValidationState(true);
    }
}


<style type="text/css">
    input {
        padding: 1rem;
    }

    .valid {
        border: 1px solid green;
    }

    .invalid {
        border: 1px solid red;
    }

    table {
        border-spacing: unset;
    }

        table thead tr th, tbody tr td {
            border: 1px solid #000;
            padding: 1rem;
        }
</style>
